{% extends 'base.html' %}

{% block content %}
<div class="container rounded bg-white mt-3 mb-5">
  <h1>Корзина</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Название</th>
        <th>Цена</th>
        <th>Количество</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart_items %}
        <tr>
          <td>{{ item.game.title }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.quantity }}</td>
          <td>
            <form method="post" action="{% url 'cart:remove_from_cart' item.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Удалить</button>
            </form>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">Корзина пуста</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <span class="mb-10 mt-5"> Итого: {{ total_price|floatformat:2 }}</span>
</div>
{% endblock %}
