{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="col-md-8 col-lg-6">
      <div class="card text-center">
        <div class="card-body">
          <h1 class="display-4">Ваши ключи:</h1>
          {% if keys %}
            <ul>
              {% for key in keys %}
                <li>{{ key.game.title }}: {{ key.key }}</li>
              {% endfor %}
            </ul>
          {% else %}
            <p>У вас нет ключей.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
