{% extends "base.html" %}
{% block Title %}All Games {% endblock Title %}


{% block content %}
{% for game in games %}
<a href="{% url 'shop:single_game' game.id %}">
  <div class="game-card-list">
        <img src="{{ game.image.url }}" alt="{{ game.name }}" class="game-card__image">
        <div class="game-card__content">
            <h2 class="game-card__name">{{ game.title }}</h2>
            <p class="game-card__category">{{ game.category }}</p>
        </div>
        <p class="game-card__price">{{ game.price }} ₽</p>
    </div>
</a>
{% endfor %}



{% endblock content %}