{% extends "base.html" %}
{% load static %}
{% block Title %} Магазин {% endblock Title %}
{% block content %}
<div class="container mt-5">
    <!-- Заголовок "Самое популярное" -->
    <div class="popular-section">
        <h1 class="popular-title">Самое популярное</h1>
    </div>
    <div class="row">
        {% for game in featured_games %}
        <div class="col-md-4 col-sm-6 mb-4">
            <a href="{% url 'shop:single_game' game.id %}" class="card text-decoration-none text-white bg-dark h-100 shadow">
                <img src="{{ game.image.url }}" class="card-img-top img-fluid" alt="{{ game.name }}">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ game.title }}</h5>
                    <p class="card-text">
                        <span class="badge {% if game.rating > 8 %}bg-success{% elif game.rating > 5 %}bg-warning{% else %}bg-danger{% endif %}">
                            Рейтинг: {{ game.rating }}
                        </span>
                    </p>
                    <p class="mt-auto fw-bold">Цена: {{ game.price }} ₽</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <!-- Кнопка "Весь ассортимент" -->
    <div class="shop-section text-center mt-5">
        <a href="{% url 'shop:game_list' %}" class="btn-shop">
            Весь ассортимент
        </a>
    </div>
</div>
{% endblock content %}
