.game-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: auto;
  margin-bottom: 2rem;
}

.game-page__card {
  display: flex;
  align-items: flex-start;
  background-color: #202126;
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

.game-page__image-container {
  position: relative;
  margin-right: 2rem;
}

.game-page__image {
  width: 300px;
  height: 300px;
  object-fit: contain;
  border-radius: 1rem;
}

.game-page__rating {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ffe500;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

.game-page__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-page__title {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -.025em;
  line-height: 1;
  text-align: left;
  color: #fff;
  margin-bottom: 1rem;
}

.game-page__description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: #fff;
  margin-bottom: 1rem;
}

.game-page__price {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  text-align: left;
  color: #fff;
  margin-bottom: 1rem;
}

.game-page__buy-button {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #000000;
  background-color: #37ff4f;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.game-page__buy-button:hover {
  background-color: #ffffff;
}

.comments_game_page {
  width: 100%;
}

.comment {
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.comment-user {
  font-weight: 700;
}

.comment-time {
  font-size: 0.875rem;
}

.comment-text {
  font-size: 1rem;
}
